* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#pantalla {
  width: 100vw;
  height: 100vh;
  background-color: #222;
  overflow: hidden;
  z-index: 0;
}

.nau {
  position: absolute;
  z-index: 1;
}

.jugador {
    background-color: lightblue;
}

.enemic {
    background-color: lightcoral;
}

.asteroide {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

#infoPartida {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.25rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 200px;
  z-index: 2;
}

#infoPartida > p {
  margin: 0.25rem;
}